* {
    box-sizing: border-box;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/* HEADER */
header {
    background-color: #8c0a0d;
    height: 70px;
    color: #f8bd6f;
}

.header_logo {
    float: left;
    margin-right: 86px;
    margin-top: 14px;
}

.header_nav {
    float: left;
    margin-top: 28px;
}

header  li {
    float: left;
    margin: 0 16px;
} 

header li a {
    color: #f8bd6f;
}

.header_lang {
    float: right;
    margin-top: 28px;
    cursor: pointer;
}

.header_lang span {
    font-size: 22px;
}

/* MAIN */

main {
    height: 688px;
    background-image: linear-gradient(90deg, rgba(247,237,209,0.7486344879748774) 50%, rgba(247,237,209,0.7486344879748774) 100%), url(./../img/background_content.png);
    background-repeat: repeat, no-repeat;
    background-size: auto, 100%;
    padding-top: 26px;
}

.main_page {
    background-image: url(./../img/backgr.png);
    background-repeat: no-repeat;
    height: 335px;
    position: relative;
}

.main_page h1 {
    text-align: center;
    position: absolute;
    top: 28px;
    letter-spacing: 2px;
    font-size: 50px;
    left: 374px;
    color: #35040c;
}

a.main_more {
    position: absolute;
    top: 105px;
    left: 494px;
    width: 190px;
    height: 42px;
    background-color: #f6cc79;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 6px 0px 0px rgba(191, 103, 13, 1);
    color: black;
}

.button_left , .button_right {
    background: url(./../img/button.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border: none;
    position: absolute;
    top: 150px;
    cursor: pointer;
}

.main_page .button_left {
    left: 20px;
}

.main_page .button_right {
    right: 20px;
    transform: rotate(180deg);
}

.btn {
    position: absolute;
    bottom: 8px;
    left: 546px;

}

.btn_button {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    margin: 0 3px;
    border: none;
    cursor: pointer;
}

.btn_active {
    background-color: #bf670d;
}

.content {
    margin-top: 48px;
}

.content_description {
    float: left;
    width: 277px;
    margin-right: 20px;
}

.descr_right {
    float: right;
    margin-right: 0;
}

.content_description h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 46px;
}

.content_description .content_h3 {
    margin-bottom: 28px;
}

.content_description p {
    width: 272px;
    font-size: 16px;
}

/* FOOTER */

footer {
    height: 70px;
    background-color: #8c0a0d;
    color: #fbc86b;
}

footer .contact {
    float: left;
    width: 290px;
    margin-top: 14px;
    font-size: 17px;
}

footer .contact_right {
    float: right;
}

footer a {
    color: #fbc86b;
}

.contact_a {
    padding-top: 18px;
}

.contact_post {
    float: left;
}

.contact_media {
    float: right;
    padding-top: 10px;
}

.contact_facebook {
    float: left;
    width: 30px;
    height: 30px;
    background-image: url(./../img/facebook.png);
    background-repeat: no-repeat;
}

.contact_vk {
    float: left;
    width: 30px;
    height: 30px;
    background-image: url(./../img/vk.png);
    background-repeat: no-repeat;
    margin-left: 12px;
}